@font-face {
  font-family: "Lato";
  src: url(./Font/Lato/Lato-Black.ttf);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif !important;
  scroll-behavior: smooth;
}
::selection {
  background:#d3d3d3; 
  color:#555;
}

.App{
  min-width: 320px;
}
